<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h2>Usuarios (ANGULAR)</h2>
    <p class="lead">
      Listado de Usuarios
    </p>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col"># (id)</th>
          <th scope="col">Email</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Numero de documento</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of listUser">
          <th scope="row">{{user.id}}</th>
          <td>{{user.email}}</td>
          <td>{{user.first_name}}</td>
          <td>{{user.last_name}}</td>
          <td>{{user.n_document}}</td>
          <td>{{user.phone_number}}</td>
          <td>
            <!--SOLO APARIENCIA-->
            <a href="#" class="btn btn-info">Editar</a>
            <button class="btn btn-warning" type="button">Eliminar</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2017-2018 Company Name</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>
